database = "mongodb+srv://username:password5@cluster0.w5nb9za.mongodb.net/tour-management"
JWT_SECRET = "VUMANHQUYNHDEPTRAIVCL"
EMAIL_USERNAME="levana@gmail.com" # Email của mật khẩu ứng dụng
EMAIL_PASSWORD="mật khẩu ứng dụng" # Mật khẩu ứng dụng
EMAIL_SECURE="false" # false: http, true: https
CLOUDINARY_NAME = ""
CLOUDINARY_API_KEY = ""
CLOUDINARY_API_SECRET = ""
GOOGLE_CLIENT_ID =""
FACEBOOK_APP_ID=your_app_id_here
FACEBOOK_APP_SECRET=your_app_secret_here
SESSION_SECRET=mot_chuoi_ngau_nhien_bat_ky