extends ../layouts/default.pug
include ../mixins/product-item.pug
include ../mixins/pagination.pug
block main

  // Section 4
  .section-4(style="padding-top: 120px;")
    .container
      h2.box-title KẾT QUẢ TÌM KIẾM
      .inner-wrap
        each item in tourList
          +product-item(item)
  // End Section 4

  //- pagination
  .pagination
    +pagination(pagination, tourList.length)
  //- End pagination